@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Klee+One:wght@600&family=Marcellus&family=Pacifico&family=Raleway&family=Sacramento&display=swap');

/*Estilos generales de la página*/
section {
    background-color: #f8eeee;
    justify-content: center;
    width: 100%;
}

article {
    width: 100%;
    text-align: justify;
}

.index-tittle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(16px + 1vw);
    color: #351e1e;
    text-align: center;
}

.index-paragraph {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(9px + 1vw);
    color: #4f3736;
    margin-bottom: 30px;
    text-align: center;
}

#main-background {
    background: linear-gradient(to bottom, rgba(127, 63, 191, 0.1), white,
            rgba(191, 63, 63, 0.1),
            rgba(127, 63, 191, 0.1)), url(../img/fondo.jpg);
    background-size: cover;
    height: 100%;
}

#paragraph-background-aboutme {
    background: linear-gradient(to bottom, rgba(25, 35, 15, 0.18),
            #66535c,
            rgba(25, 35, 15, 0.18)), url(../img/fondo-sobremi.gif);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(8px + 1vw);
    color: white;
    padding: 5%;
    text-align: center;

}

.divisor {
    background: url(../img/fondo-flores.jpg);
    height: calc(5px + 1vw);
    width: 100%;
}

/*Sección de hobbies*/
.btn-hobbie {
    background: linear-gradient(to left, #b59796, #f8eeee, #b59796);
    color: #351e1e;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    margin-left: 2%;
    font-size: calc(6px + 1vw);
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.btn-hobbie:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 5px 9px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 3px solid wheat;
}

.card-hobbies {
    background-color: #d5c3cb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(6px + 1vw);
    color: #351e1e;
    border: 1px solid #b59796;
    border-radius: 10px;
}

/*Sección de curriculum*/
.btn-cv {
    background: linear-gradient(to left, #b59796, #f8eeee, #b59796);
    color: #351e1e;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2%;
    font-size: calc(10px + 1vw);
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: calc(150px + 1vw);
    text-align: center;
    text-decoration: none;
}

.btn-cv:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 5px 9px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 3px solid wheat;
    color: #351e1e;
}

.cv-li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(7px + 1vw);
    color: #4f3736;
}

/*Sección de proyectos*/
.card {
    float: left;
    padding: 10px;
    width: calc(250px + 1vw); 
    height: calc(450px + 1vw);
    margin-left: 10%;
    margin-bottom: 50px;
    color: white;
    background-color: #b59796 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 80%;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 2px solid wheat;
}

.card:hover:before {
    transform: scale(2.15);
}

.image-card {
    object-fit: cover;
    width: 100%;
    height: calc(250px + 3vw);
    border: 3px solid #f8eeee;
}

.card-body {
    font-family: 'Josefin Sans', sans-serif;
}