@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Klee+One:wght@600&family=Marcellus&family=Pacifico&family=Raleway&family=Sacramento&display=swap');

.contenedor-contact {
    background: linear-gradient(to bottom, rgba(127, 63, 191, 0.1), white,
            rgba(191, 63, 63, 0.1),
            rgba(127, 63, 191, 0.1)), url(../img/fondo-contacto.gif);
    background-size: contain;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;

}

/*Sección correspondiente al lado izquierdo*/
#contenedor-section-left{
    background-color: #2d071c;
    padding: 3%;
    order:1;
    opacity: 0.7;
}

.tittle-section-left-c {
    color: #fff8fb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(15px + 1vw);
    margin-top: 5%;
    margin-bottom: 4%;
}

.text-contact{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(5px + 1vw);
}

.image-social-media-contact {
    height: calc(10px + 1vw);
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}


/*Enlace de linkedin en sección de contacto*/
#enlace-linkedin-c {
    color: white;
    font-size: calc(5px + 1vw);
    font-family: 'Josefin Sans', sans-serif;
}

#enlace-linkedin-c:hover {
    background-color: wheat;
    color: black;
    border-radius: 10px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


/*Section correspondiente al lado derecho (formulario)*/
#contenedor-form {
    background: #fff0f6;
    padding: 3%;
    order:2;
}

#tittle-form {
    color: #8f6277;
    font-size: calc(15px + 1vw);
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 4%;
}

.form-content {
    color: #2d071c;
    font-size: calc(8px + 1vw);
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block !important;
}

.btn {
    font-size: calc(8px + 1vw);
    font-family: 'Josefin Sans', sans-serif;
}