@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Klee+One:wght@600&family=Marcellus&family=Pacifico&family=Raleway&family=Sacramento&display=swap');

/* Contenido header */
nav {
    background-color: #d5c3cb;
}


nav a:hover {
    background-color: wheat;
    color: #4C1159;
    border-radius: 10px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.dropdown-menu {
    background-color: #d5c3cb !important;
    font-family: 'Josefin Sans', sans-serif;
}

.dropdown-item {
    color:white !important;
}

.dropdown-item:hover {
    color: #4C1159 !important;

}

.enlaces-header {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(6px + 1vw);

}

.imagen-fondo {
    width: 100%;
    height: calc(300px + 1vw);
}

/* Contenido footer */
footer {
    height: auto;
    display: flex;
    background-color: #d5c3cb;
    justify-content: space-around;
}

.enlaces-footer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(6px + 1vw);
    color: white;
    display: block;
}

.efecto-enlaces:hover {
    background-color: wheat;
    color: #4f3736;
    border-radius: 10px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#imagen-footer-gato {
    width: calc(80px + 1vw);
    height: calc(80px + 1vw);
}

#text-copyrigth {
    font-size: calc(3px + 1vw);
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.icono-red-social {
    width: auto;
    height: calc(10px + 1vw);
    color: white;
    margin-bottom: 50px;
}

.icono-red-social:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 2px solid wheat;
}

a {
    text-decoration: none !important;
}