@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Klee+One:wght@600&family=Marcellus&family=Pacifico&family=Raleway&family=Sacramento&display=swap');

/*Estilos generales de la página*/
.fondo-marikeiks {
    background: linear-gradient(to bottom, rgba(127, 63, 191, 0.1), white,
            rgba(191, 63, 63, 0.1),
            rgba(127, 63, 191, 0.1)), url(../img/fondo.jpg);
    background-size: cover;
    height: 100%;
    padding: 5%;
}


/* Imagenes de historia */
.imagen-carrusel {
    object-fit: cover;
    width: 100%;
}

.marikeiks-background {
    background: url(../img/fondo-paris.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 5%;
}

#tittle-1-marikeiks {
    text-decoration: none;
    color: #fff8fb;
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(15px + 2vw);
    text-align: center;
    font-weight: 700;
}

#subtitle-project-marikeiks {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(10px + 1vw);
    color: #fff8fb;
    text-align: center;
    margin-top: 3%;
    text-decoration: underline;
}

#paragraph-project-marikeiks {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(5px + 1vw);
    color: #fff8fb;
    margin-bottom: 30px;
    text-align: justify;
    padding-left: 2%;
}